node_modules
.env
coverage
coverage.json
typechain
*.out

#Hardhat files
cache
artifacts

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
contracts.out

arguments*.j
arguments*.js

output_*.json

deployments/hardhat